.bookWrapper {
    margin: 10px;
    display: flex;
    width: 1200px;
    height: 200px;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(142, 143, 141);
}


.imageBook {
    width: 100px;
    height: 150px;
    transition: .3s;
    cursor: pointer;
}

.imageBook:hover {
    transform: scale(1.3);
}

.inforBook {
    border-left: 2px solid black;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.deleteBtn {
    max-width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}